:root {
  --black: #3e3f42;
  --white: #ffffff;
  /* --blue: #2d68d1; */
  --blue: #f5a65b;
  --lightblue: #f8fafe;
  --grey: #9ea0a5;
  --lightgrey: #ebedf2;
  --lightestgrey: #fbfbfd;
}

* {
  box-sizing: border-box;
}

html,
body {
  color: var(--black);
  font-family: sans-serif;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.header {
  align-items: center;
  background: var(--white);
  border-bottom: 1px solid var(--lightgrey);
  display: flex;
  flex-shrink: 0;
  height: 80px;
  margin: 0;
  width: 100%;
  z-index: 100;
}

/* APP */
.app {
  display: grid;
  grid-template-areas: 'menu content';
  grid-template-columns: 200px 1fr;
  height: 100%;
  width: 100%;
}

/* MENU */
.menu {
  display: flex;
  flex-direction: column;
  grid-area: menu;
  overflow: hidden;
}

.menu__header {
  padding-left: 15px;
}

.menu__header::after {
  background: var(--lightgrey);
  content: '';
  position: absolute;
  height: 40px;
  top: 20px;
  left: 199px;
  width: 1px;
}

.menu__body {
  border-right: 1px solid var(--lightgrey);
  display: grid;
  grid-auto-flow: row;
  grid-gap: 50px;
  flex-grow: 1;
  overflow-y: scroll;
  padding: 30px 10px;
}

.menu__list {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.menu__list__header {
  color: var(--grey);
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 10px;
  padding-left: 5px;
  text-transform: uppercase;
}

.menu__list__body {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 5px;
}

.menu__list__item {
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  height: 40px;
  letter-spacing: 0.5px;
  outline: none;
  text-align: left;
  padding: 0;
  padding-left: 5px;
}

.menu__list__item:hover {
  background: var(--lightblue);
  color: var(--blue);
}

.menu__list__item--active {
  background: var(--blue);
  color: var(--white);
}

.menu__list__item--active:hover {
  background: var(--blue);
  color: var(--white);
  cursor: default;
}

/* CONTENT */
.content {
  display: flex;
  flex-direction: column;
  grid-area: content;
  overflow: hidden;
}

/* CONTENT HEADER */
.content__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  width: 100%;
}

.content__header__title {
  margin: 0;
}

.profile__menu {
  border: 2px solid var(--lightgrey);
  border-radius: 50%;
  height: 50px;
  overflow: hidden;
  width: 50px;
}

.profile__menu__image {
  height: 100%;
}

.content__body {
  padding: 30px;
  overflow-y: scroll;
}

/* FEATURES */
.feature__list {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, 250px);
  margin-bottom: 50px;
}

.feature {
  align-items: center;
  border: 1px solid var(--lightgrey);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 250px;
}

.feature:hover .feature__title {
  color: var(--blue);
}

.feature__image__wrapper {
  border-radius: 5px;
  height: 65px;
  overflow: hidden;
  width: 100px;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.feature__image {
  width: 100%;
}

/* HIGHLIGHTS */
.highlight__list {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, 250px);
}

.highlight {
  border-bottom: 1px solid var(--lightgrey);
  cursor: pointer;
  width: 100%;
}

.highlight:hover .highlight__image {
  transform: scale(1.05);
}

.highlight:hover .highlight__title {
  color: var(--blue);
}

.highlight__image__wrapper {
  border-radius: 5px;
  height: 175px;
  overflow: hidden;
  width: 100%;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.highlight__image {
  object-position: center;
  width: 100%;
  transition: all 300ms ease-out;
}

.highlight__details {
  margin-bottom: 20px;
}

.highlight__subtitle {
  color: var(--grey);
  font-size: 0.9rem;
}

.highlight__stats {
  color: var(--grey);
  display: flex;
  font-size: 0.7rem;
  margin-top: 40px;
  width: 100%;
  justify-content: space-between;
}

/* PROJECT LISTING */

.project__list {
  align-items: start;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 530px 1fr;
  overflow: hidden;
  padding: 30px;
}

.project__list .scroll__wrapper {
  height: calc(100vh - 60px - 80px);
  overflow-y: scroll;
}

/* PROJECT OVERVIEW */
.project__overview {
  border-left: 1px solid var(--lightgrey);
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.project__section__title {
  border-bottom: 1px solid var(--lightgrey);
  color: var(--grey);
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 5px;
  text-transform: uppercase;
}

/* PROJECT BANNER */
.project__banner {
  border-radius: 5px;
  height: 400px;
  overflow: hidden;
  width: 100%;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.project__banner__image {
  width: 100%;
}

/* PROJECT DETAILS */
.project__details {
  align-items: start;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 70% 1fr;
  grid-template-areas:
    'info stat'
    'disc disc';
  padding-top: 30px;
}

/* PROJECT INFO */

.project__info {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  grid-area: info;
}

.project__title {
  font-weight: 400;
  margin: 0;
}

.project__subtitle {
  color: var(--grey);
}

.project__description {
  letter-spacing: 0.5px;
  line-height: 1.25rem;
}

/* PROJECT STATS */
.project__stats {
  display: grid;
  grid-area: stat;
  grid-auto-flow: row;
}

.project__stat {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.project__stat__name {
  color: var(--grey);
  font-size: 0.9rem;
  font-weight: 300;
}

.project__stat__value {
  font-size: 0.9rem;
  font-weight: 300;
}

/* PROJECT DISCUSSION */
.project__discussion {
  display: flex;
  flex-direction: column;
  grid-area: disc;
}

.comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.comment__header {
  align-items: center;
  display: flex;
  height: 60px;
}

.comment__user__image__wrapper {
  border: 2px solid var(--lightgrey);
  border-radius: 50%;
  height: 50px;
  margin-right: 10px;
  overflow: hidden;
  width: 50px;
}

.comment__user__image {
  height: 100%;
  width: 100%;
}

.comment__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.comment__user__name {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.comment__timestamp {
  color: var(--grey);
  font-size: 0.8rem;
}

.comment__content {
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 1.25rem;
}

.comment__replies {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding: 0 50px;
}
