.app {
  display: grid;
  grid-template-areas: 'menu content';
  grid-template-columns: 175px 1fr;
  height: 100%;
  width: 100%;
}

.header {
  align-items: center;
  background: var(--white);
  border-bottom: 1px solid var(--lightgrey);
  display: flex;
  flex-shrink: 0;
  height: 80px;
  margin: 0;
  width: 100%;
  z-index: 100;
}

@media only screen and (max-width: 850px) {
  .app {
    grid-template-columns: 1fr;
    grid-template-areas: 'content';
  }
}
