:root {
  --black: #252528;
  --lightgrey: #b2b2b2;
  --lightestgrey: #e5e5e5;
  --grey: #7f7f7f;
  --blue: #3066d0;
  --lightblue: #84adff;
  --green: #0cce6b;
  --offwhite: #fbfbfd;
}

* {
  font-size: 10px;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
