:root {
  --black: #3e3f42;
  --grey: #9ea0a5;
  --lightgrey: #ebedf2;
  --lightestgrey: #fbfbfd;
  --white: #ffffff;
  --offwhite: #e0e4cc;
  --blue: #69d2e7;
  --teal: #a7dbd8;
  --orange: #fa6900;
  --pink: #f05d5e;
  --lightorange: #f38630;
  --lightblue: #f8fafe;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
*::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

html,
body {
  color: var(--black);
  height: 100%;
  overflow: hidden;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}
